:root{
    --color1: #b3caed;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 18px;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color:rgb(241, 241, 241)
}

.navbar{
    padding: 1.5rem 1rem;
    width: 100%;
    border-bottom: 3px solid black;
    box-shadow: 0 1px 7px -1px rgb(184, 184, 184);
}

.navbarList{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem; 
    justify-content: space-around;
    list-style: none;
    margin: 0 2rem;
}


li a{
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    text-align: center;
    margin: 0 1rem;
    transition: 800ms;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5rem 1rem;
}

li a:hover{
/*    background-color: rgb(80, 80, 80);
    color: white;
    padding: 0.5rem 1rem;*/
    border: none;
    box-shadow: 0 0 10px -5px black; 
}

.mainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
}

.szöveg{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.szöveg p::after{
    content:'L.';
    font-weight: bold;
    position: absolute;
    right: 20%;
}

h1, h3, p{
    margin-bottom: 1.2rem;
}

h1{
    font-size: 3.5rem;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1rem;
}


footer ul li p{
    font-size: 1.5rem;
    margin: 0;
}

.photo{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.photo img{
    max-width: 300px;
    border-radius: 10%;
    box-shadow:0 0 10px 1px var(--color2);
    margin: 1rem;
}

.szolgáltatásLista li img:hover{
    box-shadow:0 0 15px 1px #636363;  
}

.szolgáltatások
{
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 1rem;
}

.rólam{   
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}



.rólam p{
    text-align: left;
    width: 60%;
}

.szolgáltatások h3{
    justify-content: center;
}

.szolgáltatások h3,
.szolgáltatásLista{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    list-style: none;
    text-align: center;
}

.szolgáltatásLista{
    justify-content: space-around;
}

.szolgáltatásLista li{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.szolgáltatásLista li img{
    width: 250px;
    height: 300px;
    border-radius: 10%;
    overflow: hidden;
    margin: 2rem;
    box-shadow: 0 0 10px -5px black;  
}

footer{
    /*background: var(--darkgradient);*/
    width: 100%;
    border-top: 3px solid black;
    z-index: 10;
    box-shadow: 0 -1px 7px -1px rgb(184, 184, 184);
}

footer ul{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 2rem;
    padding: 1.5rem;
    align-items: center;
}

footer ul li{
    margin: 1rem 3rem;
}

i[class^="fa-"]{
margin: 0 1rem 0 0;
}

@media only screen and (max-width: 768px){
    .mainContent,
    .szolgáltatásLista{
        flex-direction: column;
    }
    .szöveg, .photo {
        width: 100%;
    }

    .szöveg,
    .photo
    {
        height:fit-content;
    }

    .photo img,
    .szolgáltatásLista li img{
        max-width: 200px;
    }

    .szolgáltatásLista li img{
        height: 240px;
    }

    h1{
        font-size: 2.5rem;
    }
    
    h3{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 1rem;
    }

    .rólam p{

        width: 100%;
    }

}
