*{
    margin: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: sans-serif;
}

.navbar{
    border:2px solid blue;
    padding: 1rem;

}

.navbarList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.navbar .navbarList li{
    list-style: none;
}

li a{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    color: rgb(19, 19, 19);
}