:root{
    --color1: #b3caed;
    --color2: #272a3a;
    --color3: #7177b0;
    --color4: #a7a3d8;
    --darkgradient: linear-gradient(to top, var(--color2), var(--color3));
    --lightgradient: linear-gradient(to bottom, var(--color1), var(--color3));
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-size: 18px;
    color: var(--color2);
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: var(--darkgradient);
    padding: 1.5rem 2rem;
    width: 100%;
    border-bottom: 3px solid white;
    z-index:9;
}

.navbarList{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 2rem;
}


li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--color1);
    text-align: center;
    margin: 0 1rem;
}

.mainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   /* background: var(--lightgradient);*/
}

.szöveg{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    background: var(--darkgradient);
  /*  color: var(--color4);*/
  color: white;
    padding: 0 2rem;

}

h1, h3, p{
    margin-bottom: 1.2rem;
}

h1{
    font-size: 3.5rem;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1rem;
}

footer ul li p{
    font-size: 1.5rem;
    margin: 0;
}

.szöveg,
.photo{
    height:100vh;
}

.photo{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.photo img{
    max-width: 300px;
    border: 3px solid var(--color1);
    border-radius: 10%;
    box-shadow:0 0 10px 1px #636363;
    margin: 1rem;
}

.photo img:hover{
    cursor: pointer;
    box-shadow:0 0 10px 1px white;  
}

.szolgáltatások{
    background: white;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    background: var(--lightgradient);

}

.szolgáltatások h3{
    justify-content: center;
}

.szolgáltatások h3,
.szolgáltatásLista{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    list-style: none;
    text-align: center;
}

.szolgáltatásLista{
    justify-content: space-around;
}

.szolgáltatásLista li{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.szolgáltatásLista li img{
    width: 250px;
    height: 300px;
    border-radius: 10%;
    background: white;
    overflow: hidden;
    margin: 2rem;
    box-shadow: 0 0 10px -5px var(--color2);
    
}

footer{
    background: var(--darkgradient);
    width: 100%;
    border-top: 3px solid white;
    z-index: 10;
}

footer ul{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 2rem;
    padding: 1.5rem;
    align-items: center;
}

footer ul li{
    margin: 0 3rem;
}

i[class^="fa-"]{
margin: 0 1rem;
}

@media only screen and (max-width: 768px){
    .mainContent,
    .szolgáltatásLista{
        flex-direction: column;
    }
    .szöveg, .photo {
        width: 100%;
    }
    .photo img{
        max-width: 200px;
    }
    h1{
        font-size: 2.5rem;
    }
    
    h3{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 1rem;
    }

}
