:root {
    --lwhiteo: #80808080;
    --lwhite: #b6fdff90;
    --lblack: #030303;
    --lgrey: #71796c;
    --lgreen: #095313;
    --lyellow: rgb(235, 214, 28);
    --body-bg: hsl(32, 29%, 39%);
    --background: linear-gradient(
        45deg,
        var(--lyellow), var(--lgreen)
        );
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
}
/*NAVBAR*/


.nav-wrapper{
    width: 100%;
    height: 150%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

nav {
    position: relative;
    background-color: var(--lwhite);
}

nav ul {
    list-style-type: none;
    float: left;
    left: 50%;
    position: relative;
}

nav ul li{
    margin: 0 30px;
    float: left;
    left: -50%;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: var(--lblack);
    text-transform: uppercase;
    font-weight: 600;
}

.nav-wrapper-1{
    background-color: var(--lwhiteo);
}

.effect-1{
    background: transparent;
}

.effect-1 a:before,
.effect-1 a:after{
    content:"";
    height: 2px;
    width: 0;
    opacity: 0;
    background-color: var(--lblack);
    position: absolute;
    transition: all .5s;
}

.effect-1 a:before{
    top: -3px;
}

.effect-1 a:after{
    bottom: -3px;
    right: 0;
}

.effect-1 a:hover:before,
.effect-1 a:hover:after{
    width: calc(100% + 10px);
    opacity: 0.5;
}
/*NAVBAR-END*/

/*TEXT*/

.burkolas, .karbantartas, .kapcsolat{
    color: var(--lblack);
}

.plusmarginbot{
 margin-bottom: 1.2em;
}

#years{
    color: var(--lblack);
    padding: 5px;
    text-align: center;
    z-index: 3;
}

h3{
    font-size: 2em;
    text-decoration: underline;
}

.neps{
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: underline;
}

.szlogen{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

/*TEXT-END*/

/*SECTION*/

section {
    padding: 20px;
    overflow: hidden;
}


/*SECTION-END*/

.burkolas,
.vagyonvedelem,
.kosem{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 30px;
}


.vagyonvedelem, .kosem, .copyright{
    background: var(--lwhiteo);
}


.karbantartas h3, p, .kosem h3,
.karbantartas ul li p, .kosem  ul li p{
    text-align: center;
}

.karbantartas ul, .kosem ul{
    list-style-type: none;
    margin: 30px 0 15px 0;
}


.kapcsolatWrapper, .karbantartas{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.karbantartasSzoveg{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 30px;
}

.karbi{
    padding: 20px;
    display: flex;
    max-height: 450px;
    max-width: 450;
}

.kapcsolat h3, p {
    text-align: right;
}

.copyright{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}


/*BURKOLAS CARDS*/

.main-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-flow: no-wrap;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 400px;
    aspect-ratio: 4/3;
    background: rgba(0,0,0,0.25);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    /*border-radius: 15px;*/
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
}

.card:hover:after{
    height: 280px;
}

.card:hover .con-text p{
    margin-bottom: 0px;
    opacity:1;
}



.card:hover img {
    transform: scale(1.25);
}

.card:after{
    width: 100%;
    content:'';
    left: 0px;
    bottom: 0px;
    height: 150px;
    position: absolute;
    background: linear-gradient(180deg, 
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 100%);
    z-index: 20;
    transition: all .25s ease;
}

.card img {
    width: 100%;
    z-index: 10;
    transition: all .25s ease;
}

.card .con-text{
    z-index: 30;
    position: absolute;
    bottom: 0px;
    color: var(--lwhiteo);
    padding: 20px;
    padding-bottom: 30px;
}

.card .con-text h2{
    font-weight: bold;
    padding-bottom: 12px;
    text-align: center;
}

.card .con-text p{
    font-size: .85em;
    opacity: 0;
    margin-bottom: -170px;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: left;
}

.card .con-text p button{
    padding: 7px 17px;
    border-radius: 12px;
    background: var(--lyellow);
    color: var(--lblack);
    margin-top: 25px;
    margin-left: auto;
    cursor: pointer;
    transition: all .25s ease;
    font-size: 1em;
    outline: none;
}

.card .con-text p button:hover{
    font-weight: bold;
}

.cardWrapper{
    display: flex;
    position: relative;
    gap: 2em;
}

/*BURKOLAS CARDS-END*/

/*MEDIAQUERY*/

@media only screen and (max-width: 765px) {
    .kapcsolatWrapper, .karbantartas{
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .burkolas h3, .vagyonvedelem h3,
    .karbantartas h3, .kosem h3, .kapcsolat h3, p {
        text-align: center;
    }
    
    .burkolas h3, .vagyonvedelem h3,
    .karbantartas h3, .kosem h3, .kapcsolat h3 {
        text-align: center;
        padding-bottom: 30px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
    }
    
    nav ul li{
        margin: 10px;
        text-align: center;
    }
    
    .main-container, .cardWrapper{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .copyright{
        flex-direction: column;
    }

    .plusmarginbot{
        margin-bottom: 0.5em;
    }
    
    .karbi{
        max-height: 250px;
        max-width: 250;
    }

}

@media only screen and (max-width: 970px) {


    nav ul{
        display: flex;
        flex-direction: column;
    }
    
    nav ul li{
        margin: 10px;
        text-align: center;
    }
    
    .main-container, .cardWrapper{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

}
/*MEDIAQUERY-END*/
