:root {
    --lwhiteo: #13bd0377;
    --lwhite: #f2f2f2;
    --lblack: #0f0f0f;
    --lgrey: #71796c;
    --lgreen: #09531385;
    --lyellow: rgb(235, 214, 28);
    --loringe: rgb(233, 130, 12);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/pattern-randomized.svg);
}
/*NAVBAR*/

.topnav{
    display: none;
}

.nav-wrapper{
    width: 100%;
    height: 150%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

nav {
    position: relative;
    background-color: var(--lwhite);
}

nav ul {
    list-style-type: none;
    float: left;
    left: 50%;
    position: relative;
}

nav ul li{
    margin: 0 30px;
    float: left;
    left: -50%;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: var(--lblack);
    text-transform: uppercase;
    font-weight: 600;
}

.topnav {
    overflow: hidden;
    background-color: var(--lwhiteo);
}
  
.topnav a, .topnav p {
    float: left;
    display: block;
    color: var(--lblack);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
  
.topnav a:hover {
    color: var(--lwhite);
}
    
.topnav .hamburgerIcon {
    display: none;
    font-size: 1em;
}

.nav-wrapper-1{
    background-color: var(--lwhiteo);
}

.effect-1{
    background: transparent;
}

.effect-1 a:before,
.effect-1 a:after{
    content:"";
    height: 2px;
    width: 0;
    opacity: 0;
    background-color: var(--lblack);
    position: absolute;
    transition: all .5s;
}

.effect-1 a:before{
    top: -3px;
}

.effect-1 a:after{
    bottom: -3px;
    right: 0;
}

.effect-1 a:hover:before,
.effect-1 a:hover:after{
    width: calc(100% + 10px);
    opacity: 0.5;
}

/*NAVBAR-END*/

/*MUHAZLOGO*/

.muhazLogo img{
    position: relative;
    width: 300px;
}

/*MUHAZLOGO-END*/

/*SECTIONDIVIDER*/

.downArrow{
    height: 60px;
    width: 100%;
    background-color: var(--lwhiteo);
    clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
}


.upArrow{
    height: 60px;
    width: 100%;
    background-color: var(--lwhiteo);
    clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
}

/*SECTIONDIVIDER-END*/

/*TEXT*/

.burkolas, .karbantartas, .kapcsolat{
    color: var(--lblack);
}

.plusmarginbot{
 margin-bottom: 1.2em;
}

#years{
    color: var(--lblack);
    padding: 5px;
    text-align: center;
    z-index: 3;
}

h3{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
    font-size: 2.5em;
}

.neps{
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: underline;
}

.szlogen{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.socialIcons a i{
    font-size: 2em;
    color: var(--lwhiteo);
}

/*TEXT-END*/

/*SECTION*/

section {
    padding: 30px;
    overflow: hidden;
}

/*SECTION-END*/

/*BUTTON*/

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 20%;
    right: -5px;
    z-index: 99;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: var(--loringe);
    color: var(--lwhite);
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 4px;
    z-index: 55;
  }
  
  #toTopBtn:hover {
    background-color: var(--lgreen);
  }

.btn-erdekel {
  background: var(--loringe);
  backface-visibility: hidden;
  border-radius: .375rem;
  box-sizing: border-box;
  color: var(--lwhite);
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 50px;
}

.btn-erdekel:not(:disabled):hover {
    background: var(--lgreen);

  transform: scale(1.05);
}

.btn-erdekel:not(:disabled):hover:active {
    background: var(--lgreen);

    transform: scale(1.05) translateY(.125rem);
}

.btn-erdekel:focus {
  outline: 0 solid transparent;
}

.btn-erdekel:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.btn-erdekel:focus:not(:focus-visible) {
    background: var(--lgreen);

    outline: 0 solid transparent;
}

.btn-erdekel:focus:not(:focus-visible):before {
    background: var(--lgreen);
}

.btn-erdekel:not(:disabled):active {
  transform: translateY(.125rem);
}

/*BUTTON-END*/

.rolunk{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 50px;
}


.vision,
.burkolas,
.vagyonvedelem,
.kosem{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 30px;
}


.vision,
.vagyonvedelem,
.kosem,
.copyright{
    background: var(--lwhiteo);
}


.karbantartas h3, p, .kosem h3,
.karbantartas ul li p, .kosem  ul li p{
    text-align: center;
}

.karbantartas ul, .kosem ul{
    list-style-type: none;
    margin: 30px 0 15px 0;
}


.kapcsolatWrapper, .karbantartas{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.karbantartasSzoveg{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 30px;
}

.karbi{
    padding: 20px;
    display: flex;
    max-height: 450px;
    max-width: 450;
}

.kapcsolat h3, .kapcsolat p {
    text-align: right;
}

.vision h3, .vision p,
.rolunkText h3, .rolunkText p {
 text-align: left;
}

.copyright{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}


/*BURKOLAS CARDS*/

.main-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-flow: no-wrap;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 400px;
    aspect-ratio: 4/3;
    background: rgba(0,0,0,0.25);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card:hover:after{
    height: 280px;
}

.card:hover .con-text p{
    margin-bottom: 0px;
    opacity:1;
}



.card:hover img {
    transform: scale(1.25);
}

.card:after{
    width: 100%;
    content:'';
    left: 0px;
    bottom: 0px;
    height: 150px;
    position: absolute;
    background: linear-gradient(180deg, 
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 100%);
    z-index: 20;
    transition: all .25s ease;
}

.card img {
    width: 100%;
    z-index: 10;
    transition: all .25s ease;
}

.card .con-text{
    z-index: 30;
    position: absolute;
    bottom: 0px;
    color: var(--lwhite);
    padding: 20px;
    padding-bottom: 30px;
}

.card .con-text h2{
    font-weight: bold;
    padding-bottom: 12px;
    text-align: center;
}

.card .con-text p{
    font-size: .85em;
    opacity: 0;
    margin-bottom: -170px;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: left;
}

.cardWrapper{
    display: flex;
    position: relative;
    gap: 2em;
}

/*BURKOLAS CARDS-END*/

/*ANIMATION*/



/*ANIMATION-END*/

/*MEDIAQUERY*/

/* @media only screen and (max-width: 765px) */
@media only screen and (max-width: 665px) {

    .nav-wrapper{
        display: none;
    }

    .topnav{
        display: block;
    }
    
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .hamburgerIcon{
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a,
    .topnav.responsive p{
      float: none;
      display: block;
      text-align: left;
    }

    .topnav a,
    .topnav p{
        display: none;
    }

    .topnav a.hamburgerIcon {
      float: right;
      display: block;
    }

    .kapcsolatWrapper, .karbantartas{
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .burkolas h3, .vagyonvedelem h3,
    .karbantartas h3, .kosem h3, .kapcsolat h3, .kapcsolat p {
        text-align: center;
    }
    
    .burkolas h3, .vagyonvedelem h3,
    .karbantartas h3, .kosem h3, .kapcsolat h3 {
        text-align: center;
        padding-bottom: 30px;
    }
    
    .main-container, .cardWrapper{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .copyright{
        flex-direction: column;
    }

    .plusmarginbot{
        margin-bottom: 0.5em;
    }
    
    .karbi{
        max-height: 250px;
        max-width: 250;
    }

    .rolunk{
        flex-direction: column;
    }

    .rolunkText h3, .rolunkText p,
    .vision h3, .vision p {
        text-align: center;
    }

}

/* @media only screen and (max-width: 995px) */
@media only screen and (max-width: 875px) {

    .nav-wrapper{
        display: none;
    }

    .topnav{
        display: block;
    }
    
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .hamburgerIcon{
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a,
    .topnav.responsive p{
      float: none;
      display: block;
      text-align: left;
    }

    .topnav a,
    .topnav p{
        display: none;
    }

    .topnav a.hamburgerIcon {
      float: right;
      display: block;
    }

    .main-container, .cardWrapper{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .karbantartas{
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .rolunk{
        flex-direction: column;
    }

    
    .rolunkText h3, .rolunkText p,
    .vision h3, .vision p {
        text-align: center;
    }

}

@media only screen and (max-width: 1360px) {
    .effect-3{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

}
/*MEDIAQUERY-END*/
